<%- include("../layout.ejs"); %>
<style>
  .container-fluid {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20%; /* Same as the width of the sidebar */
  }
  .profile-box {
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    padding: 10px; /* Padding inside the box */
    margin-bottom: 20px; /* Spacing between profile pictures */
    overflow: hidden; /* Hide overflowing content */
  }
  .posts {
    margin-left: 250px;
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 0; /* Remove left padding for smaller screens */
    }
    .posts {
      margin-left: 0; /* Remove left margin for smaller screens */
    }
  }
</style>
<div class="container container-fluid p-5">
  <div class="row justify-content-center align-items-center">
    <!-- Left Column - Profile Icon -->
    <div class="col-md-3 text-center">
      <a href="/post-profile"
        ><img
          style="
            width: 70%;
            border-radius: 50%;
            height: 300px;
            object-fit: cover;
          "
          src="../<%= user.profilePicture %>"
          class="card-img-top"
      /></a>

      <a href="/changepassword-view/<%- user._id %>">
        <button type="submit" class="btn btn-info">Change Password</button>
      </a>
    </div>

    <!-- Right Column - Profile Form -->
    <div class="col-md-8">
      <form action="/update-profile" method="post" class="p-4">
        <h2 class="mb-4">Profile Settings</h2>

        <!-- Email Field -->
        <div class="mb-3">
          <label for="email" class="form-label">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="Your Name"
            required
            value="<%= user.name %>"
          />
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Your Email"
            value="<%= user.email %>"
            required
          />
        </div>

        <!-- Other Fields -->
        <!-- Add additional form fields as needed -->

        <!-- Submit Button -->
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <div>
            <a class="btn btn-danger" onclick="confirmAndCallFunction()">
              Delete Account
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="mb-3 posts">
    <label for="profile-pictures" class="form-label">Profile Pictures:</label>
    <div class="row">
      <% userPosts.forEach(function(post){ %>

      <div class="col-md-4">
        <div class="profile-box">
          <img
            style="width: 100%; height: 100%; object-fit: cover"
            src="../<%=post.image%>"
            class="card-img-top"
            alt="<%= post.user.name %>"
          />
        </div>
      </div>
      <%});%>
    </div>
  </div>
</div>
<script>
  function confirmAndCallFunction() {
    swal
      .fire({
        title: "Are you sure you want to delete your account?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, delete it!",
      })
      .then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/deleteAccount";
        }
      });
  }
</script>
<%- include("../alert.ejs"); %>
