<%- include("../layout.ejs"); %>
<style>
  .container {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 15%; /* Same as the width of the sidebar */
  }
  .profile-box {
    width: 297px; /* Fixed width */
    height: 297px; /* Fixed height */
    padding: 2px; /* Padding inside the box */
    /* Spacing between profile pictures */
    overflow: hidden; /* Hide overflowing content */
    position: relative;
  }
  .profile-box img {
    transition: all 0.3s ease; /* Smooth transition */
  }
  .profile-box::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 293px;
    height: 293px;
    background-color: rgba(0, 0, 0, 0.274); /* Grey overlay with 50% opacity */
    opacity: 0; /* Start as invisible */
    transition: opacity 0.3s ease; /* Smooth fade effect */
  }
  .profile-box:hover::after {
    opacity: 1; /* Show grey overlay on hover */
  }
  .profile-box:hover .zemra {
    display: flex;
  }
  .koli {
    padding: 0px;
  }
  .profile {
    margin-left: 5%;
  }
  .zemra {
    display: none;
    position: absolute;
    top: 130px;
    left: 133px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    z-index: 1000;
  }
  .followers {
    display: flex;
    margin-left: 10%;
    align-self: center;
  }
  .followers-content {
   display: flex;
   flex-direction: column;

  }
  .followers-content1 {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-left: 20px;

  }
  .content {
    margin-left: 0;
  }

  @media (max-width: 768px) {
    .container {
      padding-left: 0; /* Remove left padding for smaller screens */
      padding-right: 0;
      margin-bottom: 40px;
    }
    .posts {
      margin-left: 0; /* Remove left margin for smaller screens */
    }
    .content {
      justify-content: center;
      width: 100%;
    }
  }
  @media (max-width: 500px) {

  }
</style>
<div class="container">
  <div class="d-flex">
    <!-- Left Column - Profile Icon -->
    <div class="profile">
       <% if (user1.profilePicture) { %><img
          style="
            width: 137px;
            border-radius: 50%;
            height: 137px;
            object-fit: cover;
            margin-bottom: 30px;
          "
          src="../../<%= user1.profilePicture %>"
          class="card-img-top"
      /> <% } else { %>
        <i style="font-size: 137px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 30px;
        color: black;" class="bi bi-person-circle"></i>
      <% } %>
    </div>
    <div class="followers">
      <div class="followers-content">
      
      <p><%= user1.name %></p>
      <p><%= userPosts.length %> posts</p>
     </div>
     <div class="followers-content1">

      <p style="margin-left:7px;"><%= user1.friends.length %> followers</p>      
     </div>

    </div>
  </div>

  <!-- Right Column - Profile Form -->

  <div class="mb-3 posts">
    <hr for="profile-pictures" class="form-label"></hr>
    <div class="row content" >
      <% userPosts.forEach(function(post){ %>

      <div class="col-md-fixed koli">
        <div class="profile-box">
          <div class="zemra">
            <% if (post.likes.includes(user1.id)) { %>
            <i class="bi bi-heart-fill"></i>
            <% } else { %>
            <i class="bi bi-heart"></i>
            <% } %>
            <p style="padding-left: 7px; font-size: 24px; font-weight: 600">
              <%= post.likes.length %>
            </p>
          </div>
          <img
            style="width: 100%; height: 100%; object-fit: cover"
            src="../../<%=post.image%>"
            class="card-img-top"
            alt="<%= post.user.name %>"
          />
        </div>
      </div>
      <%});%>
    </div>

    <script>
      function confirmAndCallFunction() {
        swal
          .fire({
            title: "Are you sure you want to delete your account?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!",
          })
          .then((result) => {
            if (result.isConfirmed) {
              window.location.href = "/deleteAccount";
            }
          });
      }
    </script>
    <%- include("../alert.ejs"); %>
  </div>
</div>
