<%- include('layout.ejs'); %>
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/index.css">

  </head>
  <body>
    <div class="container">
      
      <br /><br />
      <ul class="list-group">
        <% posts.forEach(function(post) { %>
        <li class="list-group-item border-bottom my-3">
          <div class="profile-info">
            <% if (post.user.profilePicture) { %>
            <img
              class="post-image"
              style=""
              
              src="<%= post.user.profilePicture %>"
              class="card-img-top"
              alt="<%= post.user.name %>"
            />
            <% } else { %>
              <i class="bi bi-person-circle personi" style="font-size: 20px; "></i>
            <% } %>
             
            <div style="font-weight: 500; margin-left: 7px;">
              <% if (post.user.id === user.id) { %>
              <a href="/users/profile-view" class="username"><%= post.user.name %></a>
              <% } else { %>
                <a href="/users/profile-view/<%=post.user.id%>" class="username"><%= post.user.name %></a>
              <% } %>
            </div>
          </div>
          <% if (post.image) { %> <% if (post.image.includes(".jpg") ||
          post.image.includes(".png") || post.image.includes(".jpeg")){ %>
         <div class="image-container"> <img
            style=""
            src="<%= post.image %>"
            class="card-img-top"
            alt="<%= post.user.name %>"
          /></div>
          <% } else if (post.image.includes(".mp4")){ %>
          <video width="500px" height="500px" controls="controls">
            <source src="<%= post.image %>" type="video/mp4" />
          </video>
          <% } else if (post.image.includes(".mp3")){ %>
          <audio controls>
            <source src="<%= post.image %>" type="audio/mpeg" />
          </audio>
          <% } %> <% } %>
          
          <div class="d-flex justify-content-between">
            <div>
              <button
                class="btn like-button"
                data-postid="<%= post._id %>"
                data-liked="<%= post.likes.includes(user.id) %>"
              >
                <%- post.likes.length %> <% if (post.likes.includes(user.id)) {
                %>
                <i class="bi bi-heart-fill"></i>
                <% } else { %>
                <i class="bi bi-heart"></i>
                <% } %>
              </button>
              <button class="btn" onclick="openCommentPost('<%= post.id %>')">
                <%- post.comments.length %>
                <i class="bi bi-chat"></i>
              </button>
            </div>
            <% if (post.user.id === user.id) { %>
            <!-- <div>
              <a onclick="confirmaAndCallFunction('<%= post.id %>')">
                <button
                  type="submit"
                  style="text-align: right; margin-top: 20px;"
                  class="btn btn-danger login-button"
                >
                  Delete
                </button>
              </a>
            </div> -->
            <% } %>
          </div>
          <div style="max-width: 900px; word-wrap: break-word ">
            <p class="content"><strong><%= post.user.name %> </strong><%= post.content %></p>
          </div>
          <div class="comments-sectionn">
            <a onclick="openCommentPost('<%= post.id %>')" ><span>View all <%= post.comments.length %> Comments</span></a>
        </li>
        <% }); %>
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/index.js">
    </script>

    <%- include('alert.ejs'); %>
  </body>
</html>
